nethunter-installer/data/app/BlueNMEA-*.apk
nethunter-installer/data/app/Drivedroid-*.apk
nethunter-installer/data/app/Hackerskeyboard-*.apk
nethunter-installer/data/app/RFAnalyzer.apk
nethunter-installer/data/app/Shodan.apk
nethunter-installer/data/app/Term.apk
nethunter-installer/data/app/USBKeyboard.apk
nethunter-installer/data/app/VNC-*.apk
nethunter-installer/supersu/supersu.zip
nethunter-installer/zImage
nethunter-installer/META-INF/*
nethunter-installer/data/app/cSploit-nightly.apk
update-nethunter-*
kernel-nethunter-*
.DS_Store
nethunter-installer/data/app/RouterKeygen.apk
nethunter-installer/data/app/Drivedroid-*.apk
nethunter-installer/data/app/Hackerskeyboard.apk
nethunter-installer/data/app/Drivedroid.apk
nethunter-installer/data/app/BlueNMEA.apk
nethunter-installer/data/local/kalifs-full.tar.xz
nethunter-installer/tools/supolicy
