# Kali NetHunter init

on init
    export TERMINFO /system/etc/terminfo
    export TERM linux

# Execute files in /system/etc/init.d before booting
service run-parts /sbin/bb/busybox run-parts /system/etc/init.d
    class main
    oneshot

# HID USB property
on property:sys.usb.config=hid
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 0461
    write /sys/class/android_usb/android0/idProduct 0010
    write /sys/class/android_usb/android0/functions hid
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state hid
