# su daemon
service su_daemon /system/xbin/su --daemon
    seclabel u:r:sudaemon:s0

on property:persist.sys.root_access=0
    stop su_daemon

on property:persist.sys.root_access=1
    start su_daemon

on property:persist.sys.root_access=2
    start su_daemon

on property:persist.sys.root_access=3
    start su_daemon
